@model WebPortal.ViewModels.MaterijalViewModel
@{
    ViewBag.Title = "MaterijaliPrikaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materijali:</h2>

<ul>
    @foreach (var materijal in Model.mater)
            {
        <li><a href="@materijal.materijalUrl">@materijal.materijalNaziv</a></li>
    }
</ul>
