@model WebPortal.ViewModels.MaterijalViewModel
@{
    ViewBag.Title = "UploadMaterijal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadMaterijalView</h2>



@using (Html.BeginForm("UploadMaterijal", "UploadMaterijal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <input type="submit" value="Postavi materijal" />
        @ViewBag.Message
        <br />
    </div>
}
<br />
@Html.ActionLink("Vidi sve materijale-->", "MaterijaliPrikaz")





