################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebPortal/Content/uploads/PRV17_11_IT.pdf
/WebPortal/Content/uploads
